/*fonts*/

@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('../fonts/ProximaNovaT-Thin.eot');
    src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
        url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
        url('../fonts/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
        url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
        url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
        url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geometrica Sans';
    src: url('../fonts/GeometricaSans-Regular.eot');
    src: url('GeometricaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GeometricaSans-Regular.woff2') format('woff2'),
        url('../fonts/GeometricaSans-Regular.woff') format('woff'),
        url('../fonts/GeometricaSans-Regular.ttf') format('truetype'),
        url('../fonts/GeometricaSans-Regular.svg#GeometricaSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter Regular';
    src: url('../fonts/Bitter-Regular.eot');
    src: url('../fonts/Bitter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bitter-Regular.woff') format('woff'),
        url('../fonts/Bitter-Regular.ttf') format('truetype'),
        url('../fonts/Bitter-Regular.svg#MuseoSansCyrl-900') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter Bold';
    src: url('../fonts/Bitter-Bold.eot');
    src: url('../fonts/Bitter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bitter-Bold.woff') format('woff'),
        url('../fonts/Bitter-Bold.ttf') format('truetype'),
        url('../fonts/Bitter-Bold.svg#MuseoSansCyrl-900') format('svg');
    font-weight: 700;
    font-style: normal;
}

/*specification*/

.body {
    font-family: 'Bitter', 'Proxima Nova', 'Geometrica Sans', sans-serif;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova Regular;
    font-size: 17px; 
}

ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: block;
    letter-spacing: 0.03em;
}

p, div, a, span {
    box-sizing: border-box;
    line-height: 140%;
    color: #383838;
}

h1, h2, h3, h4, h5, h6  {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-family: 'Bitter Bold';
    line-height: 140%;
}

a, a:active, a:hover, .fab {
    text-decoration: none;
    transition: all 0.5s ease;
}

.btn, input, input:hover, input:focus, input:active, button, button:hover, button:focus, button:active {
    outline: none;
}

 .logo__abbr {
    font-family: 'Geometrica Sans';
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1.52em;
    transition: all 0.5s ease;
}

.logo__text {
    font-family: 'Bitter Regular';
    font-weight: 400;    
    font-size: 14px;
    width: 114px;
    height: 34px;
    margin: 31px 11px;
    line-height: 1.20em;
    letter-spacing: 0.05em;
}

.logo:hover .logo__abbr {
    color: #26AFFF;
    transition: all 0.5s ease;
    transform: scaleX(1.1);
}

.btn {
    background: linear-gradient(90deg, #00CCFF 0%, #00A2FF 100%);
    box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
    color: #fff;
    border-radius: 30px;
    font-family: Proxima Nova Bold;
    font-size: 15px;
    letter-spacing: 0.01em;
}

.btn:hover {
    background: linear-gradient(90deg, #00A2FF 0%, #00CCFF 100%);
    box-shadow: 0px 5px 7px rgba(0, 163, 255, 0.4);
    color: #fff;
}

.btn:active {
    background: linear-gradient(90deg, #00CCFF 0%, #00A2FF 100%);
}

.title {
    font-size: 42px;
    line-height: 1.5em; 
}

.title span {
    text-transform: none;
    font-size: 21px; 
    display: block;
}

.read__link {
    position: absolute;
    color: #26AFFF;
    font-size: 15px;
    font-family: Proxima Nova Regular;
}

.read__link:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 58%;
    height: 2px;
    background: #26AFFF;
    margin-right: -58%;
}

.read__link:hover {
   color: #90d6ff;
}

.read__link:hover:after {    
    background: #90d6ff;
    width: 20%;
}

.reel {
    box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
    border-radius: 5px;
    position: relative; 
    margin-top: 120px;
    max-width: 470px;
}

.reel__item {
    font-family: Proxima Nova Semibold;
    font-size: 16px;
    color: #858585;
    line-height: 3.5em; 
    min-width: 156px;
    text-align: center;
}

.reel__item:first-child {    
    border-radius: 5px 0px 0px 5px;
}

.reel__item:nth-child(2):before, .reel__item:nth-child(2):after {
    content: '|';
    color: #DEE6E9; 
    position: absolute;   
}

.reel__item:nth-child(2):after {
    left: 155px;
}

.reel__item:nth-child(2):before {
    right: 144px;
}

.reel__item:last-child {
    border-radius: 0px 5px 5px 0px;
}

.reel__item:hover {
    background: linear-gradient(90deg, #00CCFF 0%, #00A2FF 100%);
    color: #fff;
}

.date {
    background: #26AFFF;
    box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
    border-radius: 2px;
    display: inline-block; 
    color: #FFFFFF;
    font-size: 10px;
    font-family: Proxima Nova Regular;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
}

.close:hover:before, .popup__close:hover:after {
    background-color: #000;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 21px;
    width: 4px;
    background-color: #858585;
    transition: all 0.5s ease;
}
.close:before {
    transform: scale(1.5);
    transform: rotate(35deg);
}
.close:after {
    transform: scale(1.5);
    transform: rotate(-35deg);
}


/*index page*/
/*header screen*/

.header {
    background: #F3F9FB url(../img/header-bg.jpg) no-repeat center top / cover;
}

.heading {
    background: #FAFBFC;
    box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
}

.navigation {
    margin: 33px 0 0 5px;
}

.navigation__item{
    margin-right: 37px;
}

.navigation__link {
    font-family: Proxima Nova Semibold;
    font-size: 16px;
    line-height: 1.40em;
    color: #383838;
    padding-bottom: 0px;
    border-bottom: 0px solid #26AFFF;
}

.navigation__link:hover {
    color: #26AFFF;
    padding-bottom: 40px;
    border-bottom: 2px solid #26AFFF;
}

.heading__call  {
    margin: 24px 0 0 50px;
}

.call__btn {
    width: 45px;
    height: 45px;
    padding-top: 7px;
    margin-right: 21px;
}

.call__book {
    font-family: Proxima Nova Bold;
    font-size: 17px;
    color: #26AFFF;
}

.call__num {
    line-height: 1.3em;
    letter-spacing: 0.013em;
    font-family: Proxima Nova Regular;
    font-size: 17px; 
}

.heading__bars {
    /*display: none;*/
}

/*offer of header screen*/

.offer {
    padding: 108px 0 550px;
    
}

.offer__cta {
    max-width: 685px;
    text-align: center;
    padding-left: 15px;
}

.offer__change {
    font-family: Bitter Regular;
    font-size: 25px;   
    margin-bottom: 10px; 
}

.offer__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1em;
    margin-bottom: 22px;
}

.offer__text {
    margin: 0px auto 35px auto;
    width: 585px;
}

.offer__btn {
    width: 270px;
    padding: 12px 0;
}

/*target screen*/

.target {
    position: relative;
    padding: 150px 0;
}

.target__bg {
    position: absolute;
    background: #F3F9FB;
    width: 68%;
    height: 60%;
    right: 0;
}

.question {
    text-align: end;
}

.question__title {
    padding: 39px 67px 0 0;
}

.question__text {
    padding-top: 10px;
    width: 300px;
}

.target__list {
    max-width: 770px;
    padding-top: 50px;
    position: relative;
}

.target__item {
    width: 233px;
    height: 278px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
    border-radius: 5px;
    text-align: center;
    padding: 40px 20px 30px;    
}

.target__item:hover .target__img {
    transition: all 0.5s ease;
    transform: scale(1.1);
}

.target__title {
    text-transform: none;
    font-size: 18px;
    margin: 20px 0 15px;
}

.target__text {
    font-size: 14px;
    color: #858585;
    line-height: 1.23em;
}

.target__btn {
    position: absolute;
    width: 270px;
    padding: 13px 0;
    top: 236px;
    left: -360px;
}

/*cases screen*/

.cases {
    padding: 50px 0 150px;
}

.cases__text {
    margin: 13px 0 88px;
    letter-spacing: 0.007em;
}

.cases__item {
    margin-bottom: 60px;
    position: relative;
    min-width: 100%;
    min-height: 370px;
}

.cases__subtitle {
    font-family: Bitter Regular;
    font-size: 22px; 
    text-transform: none;
    margin-top: 57px;
    line-height: 1.25em;
    max-width: 195px;
    position: absolute;
}

.cases__subtitle_reg {
    margin: 57px auto auto -15px;
}
.cases__bg {
    position: absolute;
    z-index: 0;
    width: 50%;
    height: 100%;
    background: #F3F9FB;
    left: 15%;
}

.cases__wrap {
    position: absolute;
    max-width: 68%;
    height: auto;
    top: 0;
    right: 0;
}

.cases__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.cases__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(1.19deg, #062B31 -15.8%, rgba(6, 43, 49, 0) 99.03%), rgba(0, 181, 255, 0.2);
    top: 0;
}

.cases__link {    
    bottom: 20px;
    left: 25px;
    
}

/*help screen*/

.help {
    background: linear-gradient(90deg, #00CCFF 0%, #00A2FF 100%);
    padding: 45px 0 65px;
}

.help__wrap {
    margin: 42px 0 80px auto;
    text-align: right;
}

.help__title {
    font-family: Bitter Bold;
    font-size: 26px;    
    text-transform: none;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.help__btn {
    color: #26AFFF;
    background: #fff;
    display: inline-block;
    width: fit-content;
    margin: auto 0 auto auto;
    padding: 12px 69px;
}

.help__btn:hover {
    box-shadow: 0px 5px 20px rgba(36, 56, 68, 0.4);
}

.help-wrapper {
    position: relative;
    max-width: 95%;
    height: auto;
}

.help__decor-first {
    position: absolute;
    top: 260px;
    right: 400px;
}

.help__phone {
    position: absolute;
    left: 70px;
    top: -110px;
}

/*news screen*/

.news {
    padding: 205px 0 155px;
}

.news__title {
    align-items: center;
    text-align: right;    
}

.news__wrapper {
    position: relative;
    padding: 110px 0 0;
}

.news__arrows {
    position: absolute;
    width: 135px;
    top: 16px;
}

.news__arrow {
    box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.2);
    width: 50px;
    height: 50px;
    color: #26AFFF;
    border-radius: 100px;
    text-align: center;
}

.news__arrow:hover {
    cursor: pointer;
    box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.news__item {
    height: 415px;
    box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
    border-radius: 2px;
    position: relative;
    padding: 24px 55px 0 30px;
}

.news__image {
    position: absolute;
    top: -30px;
    left: -20px;
    width: 76%;
    height: 47%;
}

.news__img {
    width: 100%;
    height: 100%;
}

.news__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.85deg, #062B31 -15.8%, rgba(6, 43, 49, 0) 99.03%), rgba(0, 181, 255, 0.2);
    top: 0;
}

.news__date {
    margin-left: auto;
    margin-left: 87%;
    padding: 5px 18px;
}

.news__subtitle {
    text-transform: none;
    margin: 142px 0 13px;
    font-size: 16px;
    max-width: 255px;
}

.news__text {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 1.25em;
}

/*footer screen*/

.footer {
    background: #383838;
    padding: 43px 0 58px;
}

.footer__logo p{
    color: #fff;
}

.socials__item {
    margin-right: 35px;
}

.footer__menu, .footer__contacts, .footer__form {
    padding-top: 17px;
}

.footer__menu {
    padding-left: 7px;
}

.footer__title {
    color: #fff;
    font-size: 18px;
    text-transform: none;
    font-family: Proxima Nova Bold;
    letter-spacing: 0.01em;
}

.footer__socials {
    margin: 20px 0 43px 0;
}

.socials__item .fab, .contacts__icon {
    color: #ccc;
    font-size: 18px;
    transition: all 0.5s ease;
}

.socials__item .fab:hover {
    color: #26afff;
    transform: scale(-1.5);
}

.contacts__item:hover .contacts__icon {
    color: #26afff;
    transform: scale(1.5);
}


.footer__text, .menu__link, .contacts__num, .contacts__email {
    font-size: 15px;
    color: #ccc;
}

.menu__link:hover, .contacts__num:hover, .contacts__email:hover  {
    color: #fff;
}

.menu__link:hover {
    transform: scale(5);
}

.menu__item {
    margin-top: 23px;
}

.footer__contacts {
    padding-left: 13px;
}

.contacts__item {
    margin-top: 25px;
}

.contacts__address {
    max-width: 200px;
}

.contacts__icon {
    margin-right: 15px;
}

.footer__form {
    padding-left: 20px;
}

.footer__input {
    width: 370px;
    height: 50px;
    background: #494949;
    border-radius: 5px;
    display: block;
    margin: 30px 0 27px;
    border: none;
    padding-left: 28px;    
}

.footer__input:hover, .footer__input:active, .footer__input:focus {
    background: #aeaeae;  
    color: #fff;
}

.footer__input:focus {
    background: #fff;  
    color: #000;
}

.footer__input::placeholder{
    font-family: Proxima Nova Regular;
    font-size: 15px;
    color: #CCCCCC;
}

.footer__input:focus::placeholder {
    color: transparent;
}



.footer__btn {
    width: 270px;
    height: 50px;
}
.footer__rights {
    border-top: 1px solid #C4C4C4;
    text-align: center;
    margin-top: 60px;
    padding-top: 21px;
}

.footer__special {
    position: absolute;
    max-width: 200px;
    top: -45px;
    left: 17px;
    text-align: left;
}

/*end of index page*/

/*about page*/


/*about subheading*/

.subheading {
    background: #383838;
    padding: 40px 0 45px;
}

.subheading__title {
    font-family: Bitter Bold;
    font-size: 25px;
    text-transform: none;
    color: #fff;
}

.breadcrumbs {
    margin: 0 0 0 auto;
}

.breadcrumbs__link {
    font-family: Proxima Nova Regular;
    font-size: 17px;
    color: #ccc;
}

.breadcrumbs__link_prev:hover, .breadcrumbs__link_last:hover {
    color: #fff;
}

.breadcrumbs__link_prev:hover~.breadcrumbs__link_last {
    color: #ccc;
}

.breadcrumbs__link_prev:after {
    content: '/';
}

.breadcrumbs__link_last {
    color: #fff;
}


/*choice screen*/

.choice {
    padding: 152px 0 150px;
}

.choice__image {
    background: linear-gradient(9.49deg,rgba(6, 43, 49, 0.8),rgba(0, 181, 255, 0.15)), url(../img/choice.jpg) no-repeat center center / cover;
    min-width: 100%;
    height: 100%;
}

.choice__reasons {
    padding: 66px 0 0 0;
}

.choice__title {
    line-height: 1.4em;
    max-width: 470px;
}

.choice__text p {
    margin-top: 27px;
    letter-spacing: 0.01em;
}

.choice__quote {
    position: relative;
    max-width: 590px;
    padding: 36px 0 0;
}

.quote__img {
    max-width: 94px;
    max-height: 94px;
}

.quote__wrapper {    
    margin-left: 26px;
}

.quote__text {
    font-family: 'Bitter Bold';
    font-size: 15px;
}

.quote__author {
    font-family: Proxima Nova Bold;
    font-size: 17px;
    margin: 22px 0 34px;
}

.quote__author span {
    display: block;
    font-family: Proxima Nova Regular;
    font-size: 13px;
}

.quote__sign {
    margin: auto 0 0 0;
}

.quote__bg {
    position: absolute;
    background: #F3F9FB;
    top: 0;
    right: 0;
    height: 100%;
    width: 93%;
    z-index: -1;
}

/*achievements screen*/

.achievements {
    background: linear-gradient(0deg,rgba(35, 35, 35, 0.65),rgba(35, 35, 35, 0.65)), url(../img/about-bg.jpg) no-repeat center top / cover; 
    min-height: 100%;
    padding: 145px 0 197px;
}


.achievements__indicator {
    position: relative;
    width: 192px;
    height: 192px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
    font-family: Proxima Nova Thin;
    font-size: 45px;
    text-align: center;
    line-height: 4em;
    margin: 0 auto;
    transition: all 0.9s ease;
}

.achievements__indicator_first:after {
    content: '';
    width: 192px;
    height: 192px;
    border-radius: 50%;    
    position: absolute;
    border-bottom: 5px solid #00A2FF;
    border-top: 5px solid #00CCFF;
    border-left: 5px solid #00c3ff;
    border-right: 5px solid #00CAFF;
    top: -2px;
    left: -6px;
}

.achievements__indicator_second:after {
    content: '';
    width: 192px;
    height: 192px;
    border-radius: 50%;    
    position: absolute;
    border-bottom: 5px solid #00A2FF;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-left: 5px solid #00c3ff;
    border-right: 5px solid #00CAFF;
    top: -2px;
    left: -6px;
    transform: rotate(31deg);
}

.achievements__indicator_third:after {
    content: '';
    width: 192px;
    height: 192px;
    border-radius: 50%;    
    position: absolute;
    border-bottom: 5px solid #00A2FF;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-left: 5px solid #00c3ff;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
    top: -2px;
    left: -6px;
    transform: rotate(35deg);
}

.achievements__indicator_fourth:after {
    content: '';
    width: 192px;
    height: 192px;
    border-radius: 50%;    
    position: absolute;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-left: 5px solid #00c3ff;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
    top: -2px;
    left: -6px;
    transform: rotate(39deg);
}

.achievements__indicator:hover:after {
    transform: rotate(180deg);
}

.achievements__text {
    font-family: Bitter Bold;
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin-top: 29px;
}

/*team screen*/

.team {
    padding: 139px 0 150px;
}

.team__title {
    margin-bottom: 85px;
}

.team__image {
    max-width: 370px;
}

.team__wrap {
    position: relative;
}

.team__photo {
    display: block;
    width: 100%;
    height: auto;
}

.team__role {
    color: #fff;
    font-size: 12px;
    font-family: Proxima Nova Regular;
    background: #26AFFF;
    position: absolute;
    text-align: center;
    line-height: 3em;
    width: 40%;
    bottom: 0;
    right: 0;
}

.team__info {
    width: 98%;
    box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
    border-radius: 2px;
    padding-left: 25px;
}

.team__name {
    font-family: 'Bitter Bold';
    font-size: 15px;
    line-height: 4.5em;
}

.team__icon {
    font-size: 20px;
    margin-right: 20px;
    line-height: 3.5em;
}

.team__icon .fab:hover {
    color: #26afff;
    transform: scale(1.5);
}

/*end of about page*/

/*services page*/

/*services screen*/

.services {
    padding: 153px 0 128px;
}

.services__title {
    margin-bottom: 10px;
}

.services__text {
    max-width: 470px;
    margin-bottom: 86px;
    letter-spacing: 0.01em;
}

.service__title {
    font-family: Bitter Regular;
    font-size: 22px; 
    text-transform: none;
    margin-bottom: 33px;
    line-height: 1.3em;
}

.service__description {
    font-size: 15px;
    color: #000;
    margin-bottom: 15px;
    max-width: 80%;
}

.service__price {
    font-family: Proxima Nova Bold;
    font-size: 20px;
    color: #26AFFF;
    margin: 10% 0;
}

.service__wrapper {
    max-width: 100%;
    height: 370px;
    background: #F3F9FB;
    padding: 50px 48px 25px 25px;
    margin-bottom: 30px;
    position: relative;
}

.service__btn {
    max-height: 50px;
    padding: 0 45px;
    line-height: 3em;
    margin-right: 30px;
}

.service__img {
    max-width: 30%;
    height: auto;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

/*testimonials page*/

.clients {
    padding: 149px 0 89px;
}

.clients__title {
    margin-bottom: 75px;
}

.client {
    padding: 63px 100px 48px 224px;
    width: 90%;
    height: auto;
    box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
    border-radius: 2px;
    position: relative;
    margin: 0 auto 60px;
}

.client__image {
    position: absolute;
    max-width: 225px;
    height: auto;
    top: 32px;
    left: -62px;
}

.client__img {
max-width: 100%;
}

.client__social {
    position: absolute;
    bottom: -14px;
    right: 8px;
    width: 36px;
    height: 36px;
    color: #26AFFF;
    background: #FFFFFF;
    text-align: center;
    line-height: 2em;
    box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
    border-radius: 3px;
}

.client__social:hover {    
    color: #FFFFFF;
    background: #26AFFF;
    box-shadow: none;
    border-radius: 100px;
}


.client__name {
    font-family: Bitter Bold;
    font-size: 18px;
    text-transform: none;
    margin-bottom: 22px;
}

.client__date {
    position: absolute;
    right: 55px;
    padding: 0 19px;
    top: 41px;
    line-height: 2.3em;
}

.client__text {

}

.client__text p {
    margin-bottom: 15px;
    font-size: 15px;
    letter-spacing: 0.008em;
    line-height: 1.58em;
}

/*contacta page*/

.map .container-fluid {
    min-height: 450px;
    padding: 0;
}

.mapping {
    padding: 150px 0;
}

.map {
    min-height: 410px;
    min-width: 90%;
}

.map__content {
    position: relative;
}

.map__contact{
    position: absolute;
    max-width: 372px;
    height: 411px;
    bottom: 0;
    right: 0;
    background: #fff;
    padding: 28px 51px;
}

.contact__title {
    font-size: 22px;
    text-transform: none;
    font-family: Bitter Bold;
    letter-spacing: 0.01em;
    color: #383838;
    margin-bottom: 30px;
}

.contact__icon {
    color: #fff;
    min-width: 38px;
    height: 38px;
    background: #26AFFF;
    box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
    border-radius: 50px;
    text-align: center;
    margin-right: 20px;
    line-height: 2.5em;
    transition: all 0.9s ease;
}

.contact__item:hover .contact__icon {
    background: #fff;
    color: #26afff;
    box-shadow: none;
    border: 0.1px solid #26afff;
    transform: scale(0.);
}

.contact__item {
    margin-bottom: 30px;
}

.contact__num:hover, .contact__email:hover  {
    color: #26afff;
}

.contact__time {
    font-family: Proxima Nova Bold;
    border-top: 1px solid #E5E5E5;
    margin-top: 30px;
    padding: 30px 30px 0 0;
}


/*additional windows*/

.popup__form {
    max-width: 600px;
    max-height: 520px;
    background: #FFFFFF;
    border-radius: 5px;
    position: absolute;
    padding: 83px 70px;
}

.popup__title {
    font-family: Proxima Nova Bold;
    font-size: 26px;
    letter-spacing: 0.01em;
    text-transform: none;
}

.popup__text {
    font-size: 16px;
    margin: 15px 0 20px;
}

.popup__subtitle {
    font-family: Proxima Nova Bold;
    font-size: 16px;
    color: #000000;
    text-transform: none;
    margin-bottom: 5px;
}

.popup__input {
    min-width: 460px;
    height: 50px;
    border: 1px solid #C3C3C3;
    border-radius: 3px;
    padding-left: 15px;
    margin-bottom: 30px;
}

.popup__input:hover, .popup__input:active, .popup__input:focus {
    background: #ececec;
    border: 1px solid #989393;
}

.popup__btn {
    padding: 0 44px;
    line-height: 3em;
}

/*dropdown menu*/

.dropdown {
    width: 281px;
    min-height: 80vh;
    right: 0;
    top: 0;
    position: fixed;
    background: #FFFFFF;
    border-radius: 5px;
}

.dropdown__item {
    min-width: 100%;
    padding: 7% 31% 0 5%;
    transition: all 0.9s ease-in;
}

.dropdown__item:hover {
    background: linear-gradient(90deg, #00CCFF 0%, #00A2FF 100%);
}

.dropdown__item:hover .dropdown__link {
    color: #FFFFFF;
}

.dropdown__item:after {
    content: ' ';
    background-color: #DEE6E9;
    display: block;
    width: 72px;
    height: 1px;
    margin-top: 16px;
}

.dropdown__call {
    margin: 60% 0 0 10%;
}
